---
import SocialLinks from './SocialLinks.astro'
---

<footer class="site-footer">
  <div class="left">slay.zone — made with <span class="robot">🤖</span> in Stockholm</div>
  <div class="social-links" aria-label="Social links">
    <SocialLinks />
  </div>
</footer>
